.page {
    /* left: 20%;
    display: inline-grid;
    position: absolute;
    width:1000px; */
}

.header {
    border : 1px solid gray;
}

#content-app{
    left: 20%;
    display: inline-grid;
    position: absolute;
    width:1000px;
}

h1,h2{
    text-align: center;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 2px;
}

input{
    height: 20px;
}